<div class="characteristics-container">
    <div class="title" data-key="characteristics.title"></div>

    <div class="subtitle" data-key="characteristics.subtitle"></div>

    <div class="flex-box">
        <div class="item">
            <div class="icon">
                <img src="../../assets/images/characteristics/1.png" />
            </div>

            <div class="item-title" data-key="characteristics.elements.title1"></div>

            <div class="item-label" data-key="characteristics.elements.label1"></div>
        </div>

        <div class="item">
            <div class="icon">
                <img src="../../assets/images/characteristics/2.png" />
            </div>

            <div class="item-title" data-key="characteristics.elements.title2"></div>

            <div class="item-label" data-key="characteristics.elements.label2"></div>
        </div>

        <div class="item">
            <div class="icon">
                <img src="../../assets/images/characteristics/3.png" />
            </div>

            <div class="item-title" data-key="characteristics.elements.title3"></div>

            <div class="item-label" data-key="characteristics.elements.label3"></div>
        </div>

        <div class="item">
            <div class="icon">
                <img src="../../assets/images/characteristics/4.png" />
            </div>

            <div class="item-title" data-key="characteristics.elements.title4"></div>

            <div class="item-label" data-key="characteristics.elements.label4"></div>
        </div>

        <div class="item">
            <div class="icon">
                <img src="../../assets/images/characteristics/5.png" />
            </div>

            <div class="item-title" data-key="characteristics.elements.title5"></div>

            <div class="item-label" data-key="characteristics.elements.label5"></div>
        </div>

        <div class="item">
            <div class="icon">
                <img src="../../assets/images/characteristics/6.png" />
            </div>

            <div class="item-title" data-key="characteristics.elements.title6"></div>

            <div class="item-label" data-key="characteristics.elements.label6"></div>
        </div>
    </div>
</div>