<div class="contacts-container">
    <div class="left-child">
        <div id="contact-form"></div>
    </div>

    <div class="right-child">
        <img class="parallax-1" src="../../assets/images/parallax/top-screen-1.png" />
        <img class="parallax-2" src="../../assets/images/parallax/top-screen-2.png" />

        <div class="title" data-key="contacts.title"></div>

        <div class="contacts-details">
            <div class="contact">
                <span class="label" data-key="contacts.addressLabel"></span>
                <span class="description" data-key="contacts.addressDescription"></span>
            </div>

            <div class="contact">
                <span class="label" data-key="contacts.phoneLabel"></span>
                <span class="description"><a href="tel: 022 000 000"> 022 000 000</a></span>
            </div>

            <div class="contact">
                <span class="label">Email: </span>
                <span class="description"><a href="mailto:testemail@gmail.com">testemail@gmail.com</a></span>
            </div>

            <div class="contact">
                <div class="label" data-key="contacts.followUs"></div>

                <div class="social-share">
                    <div class="share"><a href="https://www.instagram.com/" target="_blank"><img
                                src="../../assets/images/instagram.png" alt="Instagram Share" /></a></div>
                    <div class="share"><a href="https://www.linkedin.com/" target="_blank"><img
                                src="../../assets/images/linkedin.png" alt="Linkedin Share" /></a></div>
                    <div class="share"><a href="https://www.facebook.com/" target="_blank"><img
                                src="../../assets/images/facebook.png" alt="Facebook Share" /></a></div>
                </div>
            </div>
        </div>
    </div>
</div>