<div class="expertise-container">
    <div class="left-child">
        <div class="layer1">
            <div class="layer2">
                <div class="layer3">
                    <img src="../../assets/images/expertise/git.png" class="layer-3-1"/>

                    <div class="layer4">
                        <img src="../../assets/images/expertise/html.png" class="layer-4-1"/>
                        <img src="../../assets/images/expertise/bullet.png" class="layer-4-2"/>
                        <img src="../../assets/images/expertise/css.png" class="layer-4-3"/>
                        <img src="../../assets/images/expertise/bullet.png" class="layer-4-4"/>
                        <img src="../../assets/images/expertise/js.png" class="layer-4-5"/>
                        <img src="../../assets/images/expertise/bullet.png" class="layer-4-6"/>

                        <div class="layer5">
                            <img src="../../assets/images/expertise/agile.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="right-child">
        <div class="title" data-key="expertise.title"></div>
        <div class="subtitle" data-key="expertise.subtitle"></div>
    </div>
</div>