<header class="header">
    <div class="header-inner">
        <div class="logo">
            <img src="../../assets/images/logo.png" alt="Logo" />
        </div>

        <div class="header-info">
            <nav>
                <ul>
                    <li>
                        <a href="#characteristics" data-key="menu.generalPresentation"></a>
                    </li>

                    <li>
                        <a href="#reviews" data-key="menu.reviews"></a>
                    </li>

                    <li>
                        <a href="#faq" data-key="menu.faq"></a>
                    </li>

                    <li>
                        <a href="#contacts" data-key="menu.contacts"></a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="languages">
            <button class="language" id="language-ro" onclick="setLanguage('ro')">RO</button> /
            <button class="language" id="language-ru" onclick="setLanguage('ru')">RU</button>
        </div>

        <div class="hamburger-button" id="hamburger-button">
            <button onclick="toggleHamburgerMenu()">
                <img src="../../assets/images/mobile/hamburger.png" class="menu-closed" />
                <img src="../../assets/images/mobile/close.png" class="menu-opened" />
            </button>
        </div>

        <div class="mobile-menu" id="mobile-menu">
            <img class="parallax-1" src="../../assets/images/parallax/menu-1.png" />
            <img class="parallax-2" src="../../assets/images/parallax/menu-2.png" />
            <img class="parallax-3" src="../../assets/images/parallax/menu-3.png" />
            <img class="parallax-4" src="../../assets/images/parallax/menu-4.png" />

            <div class="menu-outer">
                <div class="mobile-nav">
                    <nav>
                        <ul>
                            <li>
                                <a href="#characteristics" data-key="menu.generalPresentation"></a>
                            </li>

                            <li>
                                <a href="#reviews" data-key="menu.reviews"></a>
                            </li>

                            <li>
                                <a href="#faq" data-key="menu.faq"></a>
                            </li>

                            <li>
                                <a href="#contacts" data-key="menu.contacts"></a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="menu-contacts">
                    <div class="menu-contaicts-inner">
                        <div class="contacts-details">
                            <div class="contact">
                                <span class="label" data-key="contacts.phoneLabel"></span>
                                <span class="description"><a href="tel: 022 000 000"> 022 000 000</a></span>
                            </div>

                            <div class="contact">
                                <span class="label">Email: </span>
                                <span class="description"><a
                                        href="mailto:testemail@gmail.com">testemail@gmail.com</a></span>
                            </div>

                            <div class="contact">
                                <div class="label" data-key="contacts.followUs"></div>

                                <div class="social-share">
                                    <div class="share"><a href="https://www.instagram.com/" target="_blank"><img
                                                src="../../assets/images/instagram.png" alt="Instagram Share" /></a>
                                    </div>
                                    <div class="share"><a href="https://www.linkedin.com/" target="_blank"><img
                                                src="../../assets/images/linkedin.png" alt="Linkedin Share" /></a></div>
                                    <div class="share"><a href="https://www.facebook.com/" target="_blank"><img
                                                src="../../assets/images/facebook.png" alt="Facebook Share" /></a></div>
                                </div>
                            </div>
                        </div>

                        <div class="languages">
                            <button class="language" id="language-ro" onclick="setLanguage('ro')">RO</button> /
                            <button class="language" id="language-ru" onclick="setLanguage('ru')">RU</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="radius-element"></div>
</header>