<div class="top-screen-container">
    <img class="parallax-1" src="../../assets/images/parallax/top-screen-1.png"/>
    <img class="parallax-2" src="../../assets/images/parallax/top-screen-2.png"/>
    <img class="parallax-3" src="../../assets/images/parallax/top-screen-3.png"/>

    <div class="top-screen-inner">
        <div class="title" data-key="topScreen.title"></div>

        <div class="subtitle" data-key="topScreen.subtitle"></div>

        <button class="primary-btn" data-key="topScreen.button"></button>
    </div>

    <div class="radius-element"></div>
</div>