.characteristics-container {
    padding-top: 100px;
}

.characteristics-container .title {
    font-size: 48px;
    line-height: 80px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

.characteristics-container .subtitle {
    text-align: center;
    max-width: 577px;
    width: 100%;
    margin: 0 auto 40px;
}

.characteristics-container .flex-box {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.characteristics-container .flex-box .item {
    flex: 1 1 calc(33.33% - 90px);
    padding: 50px 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 0px #0000004D;
    box-shadow: -3px -3px 15px 0px #FFFFFF0D;
}

.characteristics-container .flex-box .item:hover {
    box-shadow: 0px 0px 20px 0px #00000033;
    background: #222228;
}


.characteristics-container .flex-box .item:hover .icon {
    background: linear-gradient(135.66deg, #14244C 14.73%, #459AFE 86.33%);
}

.characteristics-container .flex-box .item .icon {
    width: 104px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222228;
    border-radius: 20px;
    margin: 0 auto 40px;
}

.characteristics-container .flex-box .item .item-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
}

.characteristics-container .flex-box .item .item-label {
    font-weight: 600;
    text-align: center;
}

@media (max-width: 1440px) {
    .characteristics-container {
        margin: 0 20px;
        padding-top: 40px;
    }
}

@media (max-width: 991px) {
    .characteristics-container .title {
        font-size: 26px;
        line-height: 36px;
        text-align: left;
    }

    .characteristics-container .subtitle {
        margin-left: 0;
        text-align: left;
        margin-bottom: 10px;
    }

    .characteristics-container .flex-box {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .characteristics-container .flex-box .item {
        flex: 1 1 calc(100% - 15px);
        padding: 15px;
    }

    .characteristics-container .flex-box .item .icon {
        width: 60px;
        height: 60px;
        border-radius: 12px;
        margin: 0 auto 15px;
    }

    .characteristics-container .flex-box .item .icon img {
        width: auto;
        display: flex;
        height: 30px;
    }

    .characteristics-container .flex-box .item .item-title {
        font-size: 16px;
        line-height: 18px;
    }
}