.reviews-container {
    padding-top: 100px;
    width: 100vw;
    margin-left: calc((100vw - 1440px) / -2);
}

.reviews-container .title {
    font-size: 48px;
    line-height: 80px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
}

.swiper-slide {
    padding: 38px 38px 20px 38px;
    border: 1px solid #FFFFFF33;
    border-radius: 20px;
}

.swiper-slide .label {
    font-size: 18px;
    line-height: 38px;
    color: #ffffff;
    margin-bottom: 26px;
}

.swiper-slide .separator {
    border-top: 1px solid #FFFFFF33;
    margin-bottom: 14px;
}

.swiper-slide .bottom-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-slide .bottom-element .left-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-slide .bottom-element .left-child .author-image {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-slide .bottom-element .left-child .name {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: #fff;
}

.swiper-slide .bottom-element .left-child .position {
    font-size: 14px;
    line-height: 28px;
    color: #9E9E9E;
}

.swiper-slide .bottom-element .right-child.rate-4 img:nth-child(5) {
    opacity: 0.6;
}

.swiper-slide .bottom-element .right-child.rate-3 img:nth-child(5),
.swiper-slide .bottom-element .right-child.rate-3 img:nth-child(4) {
    opacity: 0.6;
}

.swiper-slide .bottom-element .right-child.rate-2 img:nth-child(5),
.swiper-slide .bottom-element .right-child.rate-2 img:nth-child(4),
.swiper-slide .bottom-element .right-child.rate-2 img:nth-child(3) {
    opacity: 0.6;
}

.swiper-slide .bottom-element .right-child.rate-1 img:nth-child(5),
.swiper-slide .bottom-element .right-child.rate-1 img:nth-child(4),
.swiper-slide .bottom-element .right-child.rate-1 img:nth-child(3),
.swiper-slide .bottom-element .right-child.rate-1 img:nth-child(2) {
    opacity: 0.6;
}

.swiper-horizontal>.swiper-pagination-bullets {
    position: relative;
    margin-top: 50px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: #FFFFFF33;
    margin: 0 8px!important;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #FFFFFFCC;
}

@media (max-width: 1440px) {
    .reviews-container {
        margin: 0 20px;
        padding-top: 40px;
        width: auto;
    }
}

@media (max-width: 991px) {
    .reviews-container .title {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 10px;
        text-align: left;
    }

    .swiper-backface-hidden .swiper-slide {
        padding: 15px;
    }

    .swiper-slide .label {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .swiper-slide .separator {
        margin-bottom: 20px;
    }

    .swiper-slide .bottom-element .left-child .author-image {
        width: 30px;
        height: 30px;
    }

    .swiper-slide .bottom-element .left-child .name {
        font-size: 14px;
        line-height: 18px;
    }

    .swiper-slide .bottom-element .left-child .position {
        font-size: 10px;
        line-height: 12px;
    }

    .swiper-horizontal>.swiper-pagination-bullets {
        margin-top: 20px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 768px) {
    .swiper-container {
        padding: 0 40px;
        margin-left: -20px;
    }
}